extends layout

block content
  body(onload="load_auth()")
    h1#headingTitle Hangman Game
    div.container
      div#authmessage
    
    div#HangmanContainer
    
    div#gameContent.container
      div#buttonHolder
      div#wordHolder
      div#defHolder
      div#message
      button#resetBtn(class="btn btn-primary btn-lg" onclick="resetClicked()") Reset/Start
    
    section#logout(class="logoutContainer")
      form#formLogout(name="logoutForm", method="post", action="/logout")
        div#logout.container
          button#logoutBtn(class="btn btn-action" type="submit") Logout

    form#formAddUser(name="addscore", method="post", action="/addscore")
      div#addUser.container
        div#scoreHolder Score: 
        input#scoreNum(type="disabled" size=2 value=0 placeholder="score" name="score" readonly)
        div#chancesHolder Chances:
        span#chanceNum 7
        button#saveBtn(class="btn btn-action" type="submit" disabled) Save Score

    